:root {
  --letter-color: 'rgb(221,21,54)';
  --answer-color: '#00ffff';
  --rgb: 'rgb(35,43,123)';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50000;
  display: flex;
  flex-flow: row;
  width: 70vw;
  height: 100vh;
  transform: translateX(-50%);
  border: 2px dashed #2c2c2c;
  background-color: #fff;
  align-content: center;
  .welcome{
    display: block;
    width: 50%;
    height: 20vh;
    margin: 10vh auto;
    color: var(--rgb);
    border: 2px solid #2c2c2c;
    transition: color 2s 0s linear;
    font-size: calc(20vh / 1.3);
    letter-spacing: 2vh;
  }
  .start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 5vh;
    border: none;
    border-radius: 8px; 
  }
}

.game {
  --w: 70vw;
  width: var(--w);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  overflow: hidden;
  perspective: 90vw;
  transform-style: preserve-3d;
  .pad {
    --s: calc(var(--w) / 100 * 30);
    color: var(--rgb);
    text-shadow: 0px 0px 1px #2c2c2c;
    font-size: calc(var(--s) / 4);
    width: var(--s);
    height: var(--s);
    margin: auto 0;
    border: var(--answer-color) 3px solid;
    border-radius: 8px;
    background-color: #eee;
    transition: box-shadow 1s 0s, transform .5s 0s, animation 1s 0s linear, color 2s 0s linear;
    &:hover,
    &:focus {
      animation: inspect 5s 0s infinite linear;
      transition: box-shadow 2s 0s, transform .5s 0s, animation 1s 0s linear, color 2s 0s linear;
      box-shadow: 0px 0px 5px 1px var(--rgb);
      outline: none;
    }
  }
}

@keyframes inspect {
  0% {
    transform: rotateY(0deg) translateZ(3vh)
  }
  25% {
    transform: rotateY(20deg) translateZ(3vh)
  }
  50% {
    transform: rotateY(0deg) translateZ(3vh)
  }
  75% {
    transform: rotateY(-20deg) translateZ(3vh)
  }
  100% {
    transform: rotateY(0deg) translateZ(3vh)
  }
}