:root {
  --letter-color: 'rgb(221,21,54)';
  --answer-color: '#00ffff';
  --rgb: 'rgb(35,43,123)';
  --pads-amount: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50000;
  display: flex;
  flex-flow: row;
  width: 70vw;
  height: 100vh;
  transform: translateX(-50%);
  border: 2px dashed #2c2c2c;
  background-color: #fff;
  align-content: center;
  .welcome {
    display: block;
    width: 50%;
    height: 20vh;
    margin: 10vh auto;
    color: var(--rgb);
    border: 2px solid #2c2c2c;
    transition: color 2s 0s linear;
    font-size: calc(20vh / 1.3);
    letter-spacing: 2vh;
  }
  .start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 5vh;
    border: none;
    border-radius: 8px;
  }
}

.game {
  --w: 80vw;
  width: (var(--w));
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
  perspective: 90vw;
  transform-style: preserve-3d;
  .pad {
    --base-inRow: 3;
    --s: calc(var(--w) / 100 * 25 / (var(--pads-amount) / var(--base-inRow)));
    backface-visibility: visible;
    color: var(--rgb);
    text-shadow: 0px 0px 1px #2c2c2c;
    font-size: calc(var(--s) / 4);
    width: var(--s);
    height: var(--s);
    margin: auto calc(var(--s) / 7);
    border: var(--answer-color) 3px solid;
    border-radius: 8px;
    background-color: #eee;
    transition: box-shadow 1s 0s, transform .5s 0s linear, animation 1s 0s linear, color 2s 0s linear;
    &:hover,
    &:focus:not(disabled) {
      animation: inspect 5s 0s infinite linear, inherit;
      transition: box-shadow 2s 0s, transform .5s 0s, color 2s 0s linear;
      box-shadow: 0px 0px 5px 1px var(--rgb);
      outline: none;
    }
    &:disabled {
      background-color: #2c2c2c;
      animation: throwAway .7s 0s ease-out;
      transform: translateY(-100vh) rotateX(180deg);
      &:hover {
        color: #4f4f4f;
      }
    }
  }
}
.uwagi{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  color: rgba(21,21,21,0.6);
  font-size: 2vh;
}

@keyframes throwAway {
  from {
    transform: translateY(0) rotateX(0)
  }
  to {
    transform: translateY(-100vh) rotateX(180deg)
  }
}

@keyframes inspect {
  0% {
    transform: rotateY(0deg) translateZ(3vh)
  }
  25% {
    transform: rotateY(20deg) translateZ(3vh)
  }
  50% {
    transform: rotateY(0deg) translateZ(3vh)
  }
  75% {
    transform: rotateY(-20deg) translateZ(3vh)
  }
  100% {
    transform: rotateY(0deg) translateZ(3vh)
  }
}